.Actionbar {
    display: flex;
    flex-direction: column;
}

.header {
    background-color:#aabcbb;
    color:white;
    height:50px;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    align-items: center;
}

.container {
    padding: 30px;
}