.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height:300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.login-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: inherit;
  margin: 10px;
}
